flows.json
[{"id":"e4076d6c.2dd6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ee2bdb0.5e9624","type":"ui_form","z":"e4076d6c.2dd6","name":"","label":"","group":"aa38c5e1.abe538","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":" BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["c0719f7b.9e979"]]},{"id":"c0719f7b.9e979","type":"function","z":"e4076d6c.2dd6","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n//following are required to receive a token\nvar apikey=\"R3-nG4ypbRWcn-pEs-11NO9_hqardEY3Y01SkHIF-yA2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["e9e04597.5a4368"]]},{"id":"5d1d15e7.bfa37c","type":"http request","z":"e4076d6c.2dd6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e16ff798-724d-4348-8214-e4852806c1ce/deployments/1a891ea5-55b6-4c53-99a3-9840828cd69a/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["991db560.791248","306c34e8.e2b02c"]]},{"id":"19788d09.0f19d3","type":"debug","z":"e4076d6c.2dd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":765,"y":385,"wires":[]},{"id":"306c34e8.e2b02c","type":"function","z":"e4076d6c.2dd6","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":386,"wires":[["19788d09.0f19d3","c25d1522.02b6c8"]]},{"id":"991db560.791248","type":"debug","z":"e4076d6c.2dd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"bb5ff024.a0ea7","type":"function","z":"e4076d6c.2dd6","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e16ff798-724d-4348-8214-e4852806c1ce\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\", \"Adult Mortality\",\"infant deaths\",\"Alcohol\",\n               \"percentage expenditure\" , \"Hepatitis B\",\"Measles\", \"BMI\", \"under-five deaths\" , \"Polio\" , \"Total expenditure\" , \"Diphtheria\" ,\"HIV/AIDS\" , \"GDP\" ,\"Population\" , \"thinness  1-19 years\" , \"thinness 5-9 years\" , \"Income composition of resources\" , \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["5d1d15e7.bfa37c"]]},{"id":"e9e04597.5a4368","type":"http request","z":"e4076d6c.2dd6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":411,"y":100,"wires":[["bb5ff024.a0ea7"]]},{"id":"c25d1522.02b6c8","type":"ui_text","z":"e4076d6c.2dd6","group":"aa38c5e1.abe538","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":779,"y":493,"wires":[]},{"id":"aa38c5e1.abe538","type":"ui_group","z":"","name":"Machine Learning Model","tab":"133c98ba.f2f167","order":1,"disp":true,"width":"6","collapse":false},{"id":"133c98ba.f2f167","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]